.container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-control {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.mb-4 {
  margin-bottom: 4rem;
}
